In [91]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [92]:
page = requests.get("https://fbref.com/en/players/dea698d9/Cristiano-Ronaldo")
soup = BeautifulSoup(page.content,"html.parser")

In [26]:
single_year = soup.find_all(id="stats")
seasons = [single_year[x].find(class_="left").get_text() for x in range(0,18)]

In [122]:
all_years = [single_year[x] for x in range(0,18)]
find_td = [all_years[x].find_all("td") for x in range(0,18)]

In [167]:
age = [find_td[x][0].get_text() for x in range(0,18)]
club = [find_td[x][1].get_text() for x in range(0,18)]
rank = [find_td[x][4].get_text() for x in range(0,18)]
mp = [find_td[x][5].get_text() for x in range(0,18)]
f11 = [find_td[x][6].get_text() for x in range(0,18)]
mins = [find_td[x][7].get_text() for x in range(0,18)]
goals = [find_td[x][8].get_text() for x in range(0,18)]
assists = [find_td[x][9].get_text() for x in range(0,18)]
pkg = [find_td[x][10].get_text() for x in range(0,18)]
pka = [find_td[x][11].get_text() for x in range(0,18)]
cy = [find_td[x][12].get_text() for x in range(0,18)]
cr = [find_td[x][13].get_text() for x in range(0,18)]
gpm = [find_td[x][14].get_text() for x in range(0,18)]

In [168]:
ronaldo_stats = pd.DataFrame({
    "Seasons":seasons,
    "Age":age,
    "Club":club,
    "League Rank":rank,
    "Matches Played":mp,
    "Matches Started by CR7":f11,
    "Minutes":mins,
    "Goals":goals,
    "Assists":assists,
    "Penalty Goals":pkg,
    "Penalties Attempted":pka,
    "Yellow Cards":cy,
    "Red Cards":cr,
    "Goals per 90min":gpm
})

In [169]:
ronaldo_stats

,Seasons,Age,Club,League Rank,Matches Played,Matches Started by CR7,Minutes,Goals,Assists,Penalty Goals,Penalties Attempted,Yellow Cards,Red Cards,Goals per 90min
0,2002-2003,17,Sporting CP,3rd,25,11,"1,080",3,3,0,0,1,0,0.25
1,2003-2004,18,Manchester Utd,3rd,29,15,"1,548",4,7,0,0,4,1,0.23
2,2004-2005,19,Manchester Utd,3rd,33,25,"2,423",5,6,0,0,4,0,0.19
3,2005-2006,20,Manchester Utd,2nd,33,24,"2,286",9,6,0,0,8,1,0.35
4,2006-2007,21,Manchester Utd,1st,34,31,"2,794",17,13,3,4,2,0,0.55
5,2007-2008,22,Manchester Utd,1st,34,31,"2,747",31,6,4,5,5,1,1.02
6,2008-2009,23,Manchester Utd,1st,33,31,"2,743",18,6,4,4,6,1,0.59
7,2009-2010,24,Real Madrid,2nd,29,28,"2,461",26,7,4,5,4,2,0.95
8,2010-2011,25,Real Madrid,2nd,34,32,"2,914",40,9,8,8,2,0,1.24
9,2011-2012,26,Real Madrid,1st,38,37,"3,350",46,12,12,13,4,0,1.24
10,2012-2013,27,Real Madrid,2nd,34,30,"2,716",34,10,6,7,9,0,1.13
11,2013-2014,28,Real Madrid,3rd,30,30,"2,534",31,9,6,6,4,1,1.10
12,2014-2015,29,Real Madrid,2nd,35,35,"3,100",48,16,10,12,5,1,1.39
13,2015-2016,30,Real Madrid,2nd,36,36,"3,182",35,11,6,9,3,0,0.99
14,2016-2017,31,Real Madrid,1st,29,29,"2,537",25,6,6,7,4,0,0.89
15,2017-2018,32,Real Madrid,3rd,27,27,"2,288",26,5,3,4,1,0,1.02
16,2018-2019,33,Juventus,1st,31,30,"2,688",21,8,5,6,3,0,0.70
17,2019-2020,34,Juventus,1st,33,33,"2,917",31,5,12,13,3,0,0.96

In [170]:
ronaldo_stats.to_csv("Ronaldo_Statistics")